body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: rgb(86, 86, 235);
    color: #19f306;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0;
  }



  main > h2 {
    text-align: center;
    font-size: 25px;
    color: red;
  }

  footer {
      font-size: 10px;
      text-align: center;
  }